h1{
 color: azure;
text-align: center;
font-size: 40px;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: rgb(5, 5, 96);
line-height: 100px;
text-shadow: 8px 8px 12px rgb(7, 120, 249);
}

p{
background-color: rgb(12, 11, 10);
color: cornsilk;


}
img:hover{
transform: scale(1.1);   
    transition: all 0.5s;
}
      
img{
width: 210px;
height: 210px;
margin-right: 0px;
margin-top: 10px;
border-radius: 20000px;
}


